
include ../_partials/meta-head

//- ########################################################################
//-
//- layout
//-
//- ########################################################################

doctype html
block setting
block html
  html(class="no-js modern", lang="ja")
    block meta-head
    body
      article(class="l-body")
        block contents
